*~
*swp
.bundle/*
.DS_Store
.fixtures.bk
.librarian
.onceover
.tmp
.vagrant
.vendor
coverage
fixtures
Gemfile.lock
junit
log
modules/*
Puppetfile.lock
spec/fixtures
.beaker
vendor
